a
  cursor: pointer

a,
input,
button,
.btn,
span
  outline: none
  &:hover,
  &:active,
  &:focus,
  &:active:focus,
  &.hover,
  &.active,
  &.focus
    outline: none
    text-decoration: none

.selectize-input > input
  width: 100% !important
