<div class="gc-workout-exercise-property-constructor">
  <a class="gc-btn-round gc-btn-plus gc-add-property-button pull-right"></a>
  <button class="hidden pull-right btn btn-primary gc-custom gc-assign-property">assign</button>
  <ul class="gc-workout-exercise-property-list pull-right">
  </ul>
  <p class="gc-constructor-empty-state pull-right hidden">Add first setting by pressing</p>
</div>
