.workout-template.overview

  .gc-nav-wrapper

    .btn-success,
    .btn-warning
      width: 68px
      height: 27px
      border-radius: 3px
      font-size: 12px
      line-height: 1
      color: #ffffff

    .btn-warning
      background-color: #fd9727

    .btn-success
      background-color: #14bf44