.gc-workout-exercise-property-constructor

  a.gc-btn-plus
    margin-top: 11px
    margin-right: 10px
    cursor: pointer

  .gc-assign-property
    margin-top: 8px
    margin-right: 10px

.gc-workout-exercise-property-list
  padding: 6px 8px 0 !important
  padding-right: 10px

  > li
    display: inline
    margin-right 7px

    .btn-group > .btn
      float: none

  .gc-property
    margin: 0!important

    .gc-properties-select_box .dropdown-toggle
      border-radius: 0
      border-right: none

  .gc-selected-property
    padding 0 8px 0 0

.gc-constructor-empty-state
  color: #ccc
  size: 14px
  margin-top: 13px

.gc-gear-wrapper
  display: inline-block

span.gc-property-value
  min-width: 16px
  display: inline-block
  outline none
