.gc-workout-exercise-property-constructor
  a.gc-btn-round.gc-btn-plus.gc-add-property-button.pull-right
  button.pull-right.btn.btn-primary.gc-custom.gc-assign-property
    | assign
  ul.gc-workout-exercise-property-list.pull-right
  p.gc-constructor-empty-state.pull-right
    | Add first setting by pressing
