<div class="gc-exercises-assign">
  <div class="gc-exercises-assign-empty">
    <img src="app/images/icon-weight-large.png" alt=" ">
    <p>No exercises currently assigned to this client</p>
    <a href="" class="btn btn-link gc-exercises-assign-add">Add first exercises</a>
  </div>
</div>
