<div class="col-xs-6" data-id="{{property_id}}">{{property_name}}</div>
<div class="col-xs-4">{{value}}</div>
<div class="col-xs-2 text-right">
  <a data-id="{{property_id}}" class="btn btn-link gc-personl-best-modal-delete-property">Delete</a>
</div>
