<header>
  <h3>
    Personal best
  </h3>
</header>
<div class="gc-exercises-add-best">
  <a class="gc-add-personal-best">
    Add new
    <br class="hidden-lg">
    personal best
  </a>
</div>
<ul class="gc-exercises-bests" id="gc-personal-best-collection"></ul>

<div class="modal fade gc-modal" id="gc-add-personal-best-modal"></div>
