<div class="gc-main-workspace">
  <div class="gc-nav-wrapper">
    <div>
      <a class="gc-content-nav-back">
        <span class="fa fa-chevron-left"></span>
      </a>
      <div id="breadcrumbs"></div>
    </div>
  </div>
  <div id="exercise-manage" class="gc-workspace-content"></div>
</div>
