<div id="client-header-region">
</div>
<div class="gc-main-workspace gc-client-list">
  <div class="col-xs-10 gc-content-left">
    <div id="client-content-nav-region">
    </div>
    <div id="client-left-region">
    </div>
  </div>
  <div class="col-xs-2 gc-content-right" id="client-right-region">
  </div>
</div>
