<div class="gc-usercard-small row">
  <div class="col-xs-8 gc-usercard-info">
    <img class="gc-usercard-avatar" src="app/images/portrait-2.jpg" alt="">
    <h1 class="gc-usercard-name">John Doe</h1>
  </div>
  <div class="col-xs-4 gc-usercard-params text-right">
    <ul class="text-left">
      <li>
        <p>Height</p>
        197cm
      </li>
      <li>
        <p>Weight</p>
        100kg
      </li>
      <li>
        <p>Bodyfat</p>
        26728/78
      </li>
      <li>
        <p>Age</p>
        37
      </li>
      <li>
        <p>Sex</p>
        Female
      </li>
    </ul>
  </div>
</div>
