.gc-program-actions
  display: inline

.gc-workout-actions-button
  width: 30px
  height: 30px
  padding: 6px
  text-align: center
  border: 0

.gc-nav-wrapper
  .gc-workout-actions-button
    background: transparent url('../../images/chevron-down-blue.svg') no-repeat
    background-size: contain

.gc-actions-list
  margin: 0 15px 0 -5px
  padding: 5px 15px
  a
    &:hover
      cursor: pointer
